{% extends "home/base.html" %}
{% load  crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.user.username }}</a>
            {% if user.is_superuser or request.user == object.user%}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'discussion-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'discussion-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.date_posted }}</p>
        <p class="article-content">{{ object.details }}</p>
    </div>
</article>
{% if user.is_stuff or user.is_superuser) %}
{% include 'admissionnews/answer_form.html' %}
{% endif %}
{% for answer in answers %}
<font size="-1">
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ answer.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ answer.user.username }}</a>
            {% if answer.user == request.user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'answers-update' answer.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'answers-delete' answer.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <p class="article-content">{{ answer.answer }}</p>
    </div>
</article>
</font>
{% endfor %}
{% endblock content %}